footer {
  padding: 80px;
  background-color: chocolate;
  margin-bottom: 0px;
  margin-top: 15px; }

.redesSociales {
  display: flex;
  flex-direction: row;
  justify-content: right; }

.redesSociales:hover {
  transform: scale(2); }

header {
  color: #e93a0f;
  font-family: 'Poiret One';
  font-size: 50px;
  padding: 130px;
  background-image: url(../images/_MG_7657.jpg);
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: right; }

nav ul li {
  list-style-type: none; }

nav ul, .spotify, article, aside {
  color: #6713ec;
  border: 3px solid black; }

a {
  text-decoration: none;
  padding: 7px;
  color: #fdfcfb;
  font-size: 30px;
  background-color: #e93a0f;
  font-weight: bolder; }

a:hover {
  background-color: goldenrod; }

.imagenFondo {
  background-image: url(../images/fondoNav.jpg);
  padding: 40px;
  text-align: center;
  background-repeat: repeat;
  display: flex;
  flex-direction: row;
  justify-content: center; }

.studio {
  font-size: 30px;
  font-family: monospace;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 5px; }

.merchSpotify {
  display: flex;
  background-color: darkorange;
  border: 20px solid black;
  padding: 0px;
  overflow: hidden; }

.merch {
  border: 5px solid black; }

.videoLive {
  border: 5px solid black;
  background-image: url(../images/fondoNav.jpg);
  display: flex;
  justify-content: center;
  margin-top: 5px; }

.session {
  position: relative;
  padding-bottom: 56.25%;
  /* 16/9 ratio */
  padding-top: 30px;
  /* IE6 workaround*/
  height: 0;
  overflow: hidden; }

.session iframe,
.session object,
.session embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.merchandising, .listenTospotify, .miniGaleria {
  display: inline-block; }

.sponsor1, .sponsor2, .sponsor3 {
  display: inline-block;
  gap: 15px; }

.services {
  display: inline-block;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 30px;
  margin-top: 5px; }

.containerIndex {
  background-color: darkgoldenrod; }

.bio1, .bio2 {
  font-size: 30px;
  font-family: monospace;
  font-style: italic;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 50px;
  padding-right: 50px;
  margin-top: 5px; }
