header{
    color: rgb(233, 58, 15);
    font-family: 'Poiret One';
    font-size: 50px;
    padding: 130px;
    background-image: url(../images/_MG_7657.jpg);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: right;
}